
crimson sky #CF6766
Indigo #30415D
Ultramarine #031424
Light blue #8EAEBD
light grey? #f5f5f5


body,html {
	
	background-color: #f5f5f5;
	text-align:center;
	
}	


sidebar {
	position: absolute;
	left:72%;
	top:40px;
	width:26%;
	color: #8EAEBD;
	text-align: justify;
	font-family: "Lato", sans-serif;
	line-height:25px;
	margin:1%;
}

h1 {
	text-align: center;
	color:#CF6766;
}

h2 {
	text-indent:50px;
	line-height: 0px;
	color:#CF6766;
}

.bgimg1 {
	background-image: url(https://www.acerentalcars.com.au/wp-content/uploads/2015/12/sydney1.jpg);
	height: 60%;
	width: 100%;
	left:0;
	top:0;
	position: absolute;
	opacity: 0.9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.bgimg2 {
	background-image: url(https://www.acerentalcars.com.au/wp-content/uploads/2015/12/sydney1.jpg);
	height: 40%;
	width: 100%;
	left:0;
	top:0;
	position: absolute;
	opacity: 0.9;
	background-position: 0% 37%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}

.caption {
	position: absolute;
	left: 0;
	top: 42%;
	width: 100%;
	text-align: center;
	color: #CF6766;
	z-index: 1;
	font-size:40px;
	font-family: "Lato", sans-serif;
}

.caption span.border {
	background-color: #f5f5f5;
	padding:20px;
	font-size:25px;
	letter-spacing: 10px;
}

.caption2 {
	position: absolute;
	left:30%;
	top: 68%;
	width: 40%;
	text-align: center;
	color: #CF6766;
	z-index: 1;
	font-size:16px;
	font-style:italic;
	font-family: "Lato", sans-serif;
	line-height: 25px;

}

.caption3 {
	position: absolute;
	left:25%;
	top: 43%;
	width: 50%;
	text-align: justify;
	color: #8EAEBD;
	z-index: 1;
	font-size:15px;
	font-family: "Lato", sans-serif;
	line-height: 1.8;
}


ul {
	position: relative;
	float: right;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: visible;
    letter-spacing: 2px;
    z-index: 5;
    padding-right: 20px;
    font-family: "Lato", sans-serif;
}

ul2 {
	position: relative;
	float: left;
    margin: 0;
    padding: 15px;
    overflow: visible;
    letter-spacing: 2px;
    z-index: 5;
    color:#CF6766;
    font-family: "Lato", sans-serif;

}

li {
    float: right;
    z-index: 5;
}

li a, .dropbtn {
    display: inline-block;
    color: #CF6766;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    z-index: 5;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #f5f5f5;
    z-index: 5;
}

li.dropdown {
    display: inline-block;
    z-index: 5;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f5f5f5 ;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 5;

}

.dropdown-content a {
    color: #CF6766;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: left;
    z-index: 5;
}

.dropdown-content a:hover {
	background-color: #8EAEBD;
} 


.dropdown:hover .dropdown-content {
    display: block;
    z-index: 5;
}


   /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  top: 60%;
  left: 0;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.text {
  color: #8EAEBD;
  font-size: 14px;
  padding: 0px 0px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



